<h2><%= @blog.title %></h2>

<p><%= @blog.body %></p>




<table border = "0">
  <tr>

    <td>
<form action="/blogs/<%= @blog.id %>/edit">
  <input type="submit" value="Edit" />
</form>
    </td>


    <td>
<form action="/blogs">
  <input type="submit" value="Home" />
</form>
    </td>


    <td>
<% if current_user.has_favorited?(@blog) %>
      <%= form_tag "/blogs/#{@blog.id}/favorite", method: :delete do %>
          <button>Unfavorite</button>
      <% end %>
<% else %>
      <%= form_tag "/blogs/#{@blog.id}/favorite" do %>
          <button>Favorite</button>
      <% end %>
<% end %>
    </td>



  </tr>
</table>


